<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vic.shiro_app.mapper.RoleMapper">
    <resultMap id="SysRole" type="com.vic.shiro_app.model.SysRole">
        <result property="roleId" column="role_id" jdbcType="INTEGER"/>
        <result property="roleName" column="role_name" jdbcType="INTEGER"/>
    </resultMap>
    <select id="getAllRoles" resultMap="SysRole">
        SELECT * from sys_role
    </select>
    <select id="getRoleById" parameterType="integer" resultMap="SysRole">
        SELECT * from sys_role where  role_id = #{id}
    </select>
    <select id="getRolesByUserId" parameterType="integer" resultMap="SysRole">
        SELECT sr.* from sys_role sr INNER JOIN sys_user_role  sur on   sur.user_id = #{userId}  WHERE sur.role_id = sr.role_id
    </select>
</mapper>